@import "./utils/_icons";
@import "./mixins/_fonts";
@import "./lib/_theme";
@import "./lib/base";
@import "./lib/misc/_base-form";

main {
  @import "./lib/nav/_nav";
    @import "./lib/home/_home";
    section {
        display: flex;
        width: 95%;
        margin: 0 auto;
        @import "./lib/contender/_contender";
    }
}
@media screen and (max-width : 768px) {
    main {
        section {
            flex-wrap: wrap;
            margin-top: 2em;
        }
    }
}
