@mixin responsive-font {
  @media screen and (min-width : 768px){
    .hashtag{
      font-size: calc(5vw / 3);
    }
    .username{
      font-size: calc(3.25vw / 3);
    }
  }
     @media screen and (max-width : 768px){
       .hashtag{
         font-size: 18pt;
       }
       .username{
         font-size: 12pt;
       }
     }
    @media screen and (max-width : 460px) {
      .hashtag{
        font-size: 5vw;
      }
      .username{
        font-size: 3.25vw;
      }
    }
}
