<nav-component display="false"></nav-component>
<div class="home">
  <img class="logo home-logo" src="../../../app/resources/logo-white.svg">
  <div class="welcome">
    <h2>Too much choice means no choice.</h2>
    <p>Search for anything, anywhere.
      <br/> See only the top three most popular choices.</p>
  </div>
  <form ng-show="loading !=true" ng-model="searchParams" ng-submit="loading = true; $ctrl.goSearch(searchParams)" autocomplete="off">
    <label for="term">
      <icon class="fa fa-search"></icon>
    </label>
    <input ng-model="searchParams.term" type="text" name="term" placeholder="Find" required>
    <label for="term">
      <icon class="fa fa-globe"></icon>
    </label>
    <input ng-model="searchParams.location" type="text" name="location" placeholder="Near" required>
    <button type="submit" name="search-button">Search</button>
  </form>
  <span ng-show="loading" class="loader">
    <h1></h1>
  </span>
</div>
