<section>
  <article class="contender" ng-repeat="item in $ctrl.data">
    <div class="showcase-image" style="background-image: url('{{item.image_url}}')"></div>
    <h3>{{item.name}}</h3>
    <div class="address">
      <h4>{{item.display_phone}}</h4>
      <h4>{{item.location.address[0]}}</h4>
      <h4>{{item.location.address[1]}}</h4>
      <h4>{{item.location.city}}, {{item.location.state_code}} {{item.location.postal_code}}</h4>
    </div>
    <p>{{item.snippet_text}}</p>
  </article>
</section>
