<section ng-init="$ctrl.retrieveData(); $ctrl.appendGoogleMaps()">
  <article class="contender" ng-repeat="item in $ctrl.api.yelp track by $index">
    <div class="panel-front">
    <div class="showcase-image" style="background-image: url('{{item.image_url}}')">
      <div ng-style="{backgroundImage: $ctrl.getCorner($index)}" class="badge"></div>
      <h5 ng-style="{backgroundImage: $ctrl.getHorizontal($index)}" class="review-badge">REVIEWS: {{item.review_count}}<span></span></h5>
    </div>
    <h2>{{item.name}}</h2>
    <p>"{{item.snippet_text}}"</p>
    <h4 class="revolve revolve-right"
    ng-click="$ctrl.revolveRight($index); $ctrl.initMaps($index, item)">See where
      <img src="../../../app/resources/revolve-right.svg" alt="Flip"></h4>
    </div>

    <div class="panel-back">
      <div id="map-{{$index}}">
      </div>
      <div class="address">
        <h3>{{item.name}}</h3>
        <a href="{{$ctrl.api.facebook[$index].data.data[0].website}}"><h4>Website</h4></a>
        <p>{{item.display_phone}}<br/>
          <a href="http://maps.google.com/?q={{item.name}}" target="_blank">
        {{item.location.address[0]}}<br/>
        {{item.location.address[1]}}
        {{item.location.city}}, {{item.location.state_code}} {{item.location.postal_code}}</a></p>
      </div>
      <h4 class="revolve revolve-left"
      ng-click="$ctrl.revolveLeft($index)">
        <img src="../../../app/resources/revolve-left.svg" alt="Flip">Back</h4>
    </div>

  </article>
</section>
